
.i-pencil {
	background-image: url('png/pencil.png');
	background-repeat: no-repeat;
}



.i-springload-logo {
	background-image: url('png/springload-logo.png');
	background-repeat: no-repeat;
}


.alternative-selector,
.i-twitter {
	background-image: url('png/twitter.png');
	background-repeat: no-repeat;
}


